<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="productsSidebar"></ion-menu-button>
    </ion-buttons>
    <ion-title>About App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="max-width: 500px">
    <ion-row>
      <ion-col size="12">
        <ion-card lines="none">
          <ion-card-content>
              <ion-img [src]="myImage"></ion-img>

            <ion-label>
              <p class="productDetailSubTitle">Kevin Anthony</p>
              <p class="productDetailSubTitle" style="margin-bottom: 20px">
                00000019277 - BL
              </p>
              <p class="productValue">
                Aplikasi ini dibuat oleh saya sendiri dengan bantuan ppt teori,
                module lab mingguan, youtube pak wawo, dokumentasi ionic, dan juga
                beberapa bantuan dari stackoverflow.
              </p>
            </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid></ion-content
>
