<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin"></ion-back-button>
    </ion-buttons>
    <ion-title
      >Tambah Product</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="10" size-lg="8" offset="1" offset-lg="2">
        <form #form="ngForm" (ngSubmit)="onSubmit(form)">
          <ion-list>
            <ion-item>
              <ion-label position="floating">Url Foto(optional)</ion-label>
              <ion-input
                type="text"
                ngModel
                name="foto"
                #fotoCtrl="ngModel"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Jenis</ion-label>
              <ion-select
                ngModel
                required
                name="jenis"
                #jenisCtrl="ngModel"
                placeholder="Select One"
              >
                <ion-select-option value="CPU">CPU</ion-select-option>
                <ion-select-option value="RAM">RAM</ion-select-option>
                <ion-select-option value="Motherboard">Mother Board</ion-select-option>
                <ion-select-option value="GPU">GPU</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Merek</ion-label>
              <ion-input
                type="text"
                ngModel
                name="merek"
                required
                #merekCtrl="ngModel"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Model</ion-label>
              <ion-input
                type="text"
                ngModel
                name="model"
                required
                #modelCtrl="ngModel"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Harga</ion-label>
              <ion-input
                type="number"
                ngModel
                name="harga"
                required
                #hargaCtrl="ngModel"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Stok</ion-label>
              <ion-input
                type="number"
                ngModel
                name="stok"
                required
                #stokCtrl="ngModel"
              ></ion-input>
            </ion-item>
            <ion-item
              lines="none"
              *ngIf="jenisCtrl.valid && jenisCtrl.value != 'GPU'"
            >
              <ion-label class="productDetailTitle"> Detail Produk </ion-label>
            </ion-item>
            <ion-item *ngIf="jenisCtrl.value == 'CPU'">
              <ion-label position="floating">Base Clock</ion-label>
              <ion-input
                type="number"
                ngModel
                name="baseClock"
                required
                #baseClockCtrl="ngModel"
              ></ion-input>
            </ion-item>
            <ion-item *ngIf="jenisCtrl.value == 'CPU'">
              <ion-label position="floating">Boost Clock</ion-label>
              <ion-input
                type="number"
                ngModel
                name="boostClock"
                required
                #boostClockCtrl="ngModel"
              ></ion-input>
            </ion-item>
            <ion-item *ngIf="jenisCtrl.value == 'CPU'">
              <ion-label position="floating">Core Count</ion-label>
              <ion-input
                type="number"
                ngModel
                name="core"
                required
                #coreCtrl="ngModel"
              ></ion-input>
            </ion-item>
            <ion-item *ngIf="jenisCtrl.value == 'CPU'">
              <ion-label position="floating">Thread Count</ion-label>
              <ion-input
                type="number"
                ngModel
                name="thread"
                required
                #threadCtrl="ngModel"
              ></ion-input>
            </ion-item>
            <ion-item *ngIf="jenisCtrl.value == 'RAM'">
              <ion-label position="floating">Speed</ion-label>
              <ion-input
                type="number"
                ngModel
                name="speed"
                required
                #speedCtrl="ngModel"
              ></ion-input>
            </ion-item>
            <ion-item *ngIf="jenisCtrl.value == 'RAM'">
              <ion-label position="floating">Size</ion-label>
              <ion-input
                type="number"
                ngModel
                name="size"
                required
                #sizeCtrl="ngModel"
              ></ion-input>
            </ion-item>
            <ion-item *ngIf="jenisCtrl.value == 'Motherboard'">
              <ion-label position="floating">Chipset</ion-label>
              <ion-input
                type="text"
                ngModel
                name="chipset"
                required
                #chipsetCtrl="ngModel"
              ></ion-input>
            </ion-item>
            <ion-item *ngIf="jenisCtrl.value == 'Motherboard'">
              <ion-label position="floating">Target Prossesor</ion-label>
              <ion-input
                type="text"
                ngModel
                name="target"
                required
                #targetCtrl="ngModel"
              ></ion-input>
            </ion-item>
          </ion-list>
          <ion-button
            color="primary"
            type="submit"
            expand="block"
            [disabled]="!form.valid"
            >Create Product</ion-button
          >
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
